#sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
    border: 1px solid #555;
    position: fixed;
    overflow: auto;
}

#sidebar a {
	display: block;
	text-align: center;
	border-bottom: 1px solid #555;
}

.active {
  background-color: #4CAF50;
  color: white;
}