.sidebar {
     position: fixed;
     width: 300px;
     height: 650px;
     background: #111;
     margin: -10px;
}

.sidebar a {
  padding: 6px 8px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.sidebar a:hover {
  background-color: gray;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50%;
}

.content {
  margin-left: 310px;
  height: 650px;
  width: auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.name {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 55px;
}

.contactlinks {
  float: right;
  margin-right: 50px;
}

.divider {
  border-top: 2px solid blue;
  border-radius: 2px;
}

.sectiontitle {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 30px;
}

.certs {
  text-align: center;
}

.contactlinks a, .certs a {
  text-decoration: none;
}

.contact {
  float: right;
  margin-right: 40px;
  text-align: center;
}

.titles {
	font-size: 20px;
  font-weight: normal;
  font-family: Rockwell, "Courier Bold", fantasy;
}

.dates {
	float: right;
  margin-right: 20px;
}

.worklocation {
  font-size:  18px;
  font-family: Rockwell, "Courier Bold", fantasy;
}